{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="p-5 my-4 bg-light border rounded-3 shadow-sm">
          <h1 class="display-4 fw-normal">Анализатор страниц</h1>
          <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
          <form method="POST">
<!--            csrf_token()-->
            <div class="input-group mb-3">
              <label for="url" class="visually-hidden">URL</label>
              <input type="url"
                     id="url"
                     name="url"
                     class="form-control rounded-3"
                     placeholder="https://example.com"
                     required
              >
              <button type="submit" class="btn btn-primary ms-2 py-2 px-4 rounded-3">Проверить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
